/* Header layout */
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    display: flex;
    gap: 32px;
}

.main-nav a:hover {
    color: var(--accent);
    transition: all 0.3s ease;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-right {
    display: flex;
    gap: 16px;
}

.bars {
    display: none; 
}

/* Hero section layout */
.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;

}

.hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nav-links {
    display: flex;
    gap: 32px;
}

.cta-group {
    display: flex;
    gap: 1rem;
    color: var(--text);
}

.hero {
    background: #DDDACB;
    border-bottom: 2px solid #0B0B0A;
}

.hero-content {
    max-width: 800px;
}

.hero-images {
    position: relative;
    gap: 32px;
    display: flex;
}

.hero-decoration {
    width: 196px;
    opacity: 0.5;
}

.hero-main-image {
    width: 531px;
    height: 584px;
    background: white;
    border-radius: 27px;
    border: 2px solid #0B0B0A;
    position: relative;
    z-index: 1;
}


/* Featured Teas */
.featured-teas {
    border-bottom: 2px solid #0B0B0A;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 48px;
    margin-bottom: 64px;
}

/* Tea Ceremony Section*/
.tea-ceremony {
    background: #DDDACB;
    border-bottom: 2px solid #0B0B0A;
    position: relative;
    color: #DDDACB;
}

.tea-ceremony .container {
    display: flex;
    align-items: center;
}

.ceremony-content {
    z-index: 1;
    flex: 1;
}

.tea-ceremony img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tea-ceremony .container::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.5); 
    z-index: 1;
    pointer-events: none; 
}

.benefits-list {
    list-style: circle;
    margin: 24px 0;
}

.benefits-list li {
    list-style-position: inside; 

    align-items: center;
    padding: 8px 0;
}



/* Blog Section */
.blog-section {
    background: #DDDACB;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    margin-bottom: 64px;
}


/* ---- Product Page ---- */

.description-section .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
    border-bottom: 2px solid #0B0B0A;

}

.info-section .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    align-items: center;
    gap: 4rem;
    border-bottom: 2px solid #0B0B0A;
}


.product-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.info-flavour-brewing {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.info-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-info {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.product-details summary {
   font-size: 1.2rem;
   font-weight: 600;
}

/* --- Checkout Page --- */


.customer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
}

.checkout-image {
    position:absolute;
    right: 0;
    bottom: 40px;
    height: 50%;
    opacity: 0.2;
    z-index: -1;
}

.checkout-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 7rem;
}

.info-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.5rem;
}

.checkout {
    position: relative;
}

.two-column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    gap: 0.5rem;
}

.three-column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 0.5rem;
}

.order-summary {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
    justify-content: flex-start;
}

.discount-code {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#code {
    width: 100%;
}

.checkout-actions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.checkout-subtotal div{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.checkout-subtotal {
    width: 90%;
    align-self: center;
}

.checkout-total {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-self: center;
}

/*--- Order Summary Page ---*/

.main-summary {
    display: flex;
    gap: 4rem;

}

.summary-left {
    width: 60%;
}

.order-details {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 80%;
}

.order-details div {
    display: flex;
    justify-content: space-between;

}

.user-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;

}

.summary-right {
    width: 40%;
}

.user-details div {
    padding-top: 1rem;
}

.user-details h4 {
    padding-bottom: 0.5rem;
}

.user-details p {
    padding: 0 0.5rem;
}

.summary-items {
    padding-top: 1rem;
}

.summary-totals div{
    display: flex;
    justify-content: space-between;
    padding: 0 0.2rem ;
}

.summary-actions {

    width: max-content;
    justify-self: center;
    padding-top: 2rem;
}

.summary-actions p {
    justify-self: center;
}

.summary-buttons {
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
}

