/* Header layout */
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    display: flex;
    gap: 32px;
}

.icons {
    display: flex;
    gap: 16px;
}


.bars {
    display: none; 
}

/* Hero section layout */
.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;

}

.hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nav-links {
    display: flex;
    gap: 32px;
}

.cta-group {
    display: flex;
    gap: 1rem;
    color: var(--text);
}

.hero {
    background: #DDDACB;
    border-bottom: 2px solid #0B0B0A;
}

.hero-content {
    max-width: 800px;
}

.hero-images {
    position: relative;
    gap: 32px;
    display: flex;

}

.hero-decoration {
    width: 196px;
    opacity: 0.5;
}

.hero-main-image {
    width: 531px;
    height: 584px;
    background: white;
    border-radius: 27px;
    border: 2px solid #0B0B0A;
    position: relative;
    z-index: 1;
}


/* Featured Teas */
.featured-teas {
    border-bottom: 2px solid #0B0B0A;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 48px;
    margin-bottom: 64px;
}

/* Tea Ceremony Section*/
.tea-ceremony {
    background: #DDDACB;
    border-bottom: 2px solid #0B0B0A;
    position: relative;
    color: #DDDACB;
}

.tea-ceremony .container {
    display: flex;
    align-items: center;
}

.ceremony-content {
    z-index: 1;
    flex: 1;
}

.tea-ceremony img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tea-ceremony .container::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.5); 
    z-index: 1;
    pointer-events: none; 
}

.benefits-list {
    list-style: none;
    margin: 24px 0;
}

.benefits-list li {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 0;
}

.benefits-list li::before {
    content: "";
    width: 16px;
    height: 16px;
    background: #0B0B0A;
    display: inline-block;
}

/* Blog Section */
.blog-section {
    background: #DDDACB;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    margin-bottom: 64px;
}


/* ---- Product Page ---- */

.description-section .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
    border-bottom: 2px solid #0B0B0A;

}

.info-section .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    align-items: center;
    gap: 4rem;
    border-bottom: 2px solid #0B0B0A;
}


.product-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.info-flavour-brewing {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.info-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-info {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.product-details summary {
   font-size: 1.2rem;
   font-weight: 600;
}