
@media (max-width: 400px) {
    :root {
        font-size: 12px;
    }

    .container {
        padding: 4rem 2rem;
    }
    
    .header .container {
        height: auto;
        padding: 16px;
    }
    
    .main-nav {
        display: none;
    }
    
    .hero .container {
        flex-direction: column;
    }

    .cart {
        display: none;
    }

    .bars {
        display: block; 
    }


    .hero-decoration {
        position: absolute;
        opacity: 10%;
        height: 60%;
        width: auto;;
        right: 0;

    }

    .hero-main-image {
        height: 300px;
        object-fit: cover;
    }


    .product-grid,
    .blog-grid {
        grid-template-columns: 1fr;
    }
    
    .footer-content {
        flex-direction: column;
        gap: 40px;
    }
    
    .footer-legal {
        flex-direction: column;
        gap: 16px;
    }
    
    .legal-links {
        flex-wrap: wrap;
    }

    .tea-ceremony .container {
        flex-direction: column;
    }

}
