/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400&family=Quicksand:wght@400;500;600&display=swap');

h1, h2, h3, h4 {
    font-family: 'Fraunces', serif;
    font-weight: 400;
}

h1 {
    font-size: 72px;
    line-height: 86.4px;
}

h2 {
    font-size: 52px;
    line-height: 62.4px;
}

p {
    font-size: 18px;
    line-height: 27px;
}

/* Other typography styles */