/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400&family=Quicksand:wght@400;500;600&display=swap');

h1, h2, h3, h4 {
    font-family: 'Fraunces', serif;
    font-weight: 400;
}

h1 {
    font-size: 4.5rem;
    line-height: 5rem;
}

h2 {
    font-size: 3.25rem;
    line-height: 3.9rem;
}

h3 {
    font-size: 2.25rem;
    line-height: 2.7rem;
}

h4 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h5 {
    font-size: 1.4rem;
    line-height: 1.5rem;
}

p {
    font-size: 1.2rem;
    line-height: 27px;
}

li {
    font-size: 1.2rem;
    line-height: 2rem;
}

.section-header {
    text-align: start;

    margin: 0 auto 80px;
}

.section-subtitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
    display: inline-block;
}



/* --- Product Page --- */

.product-info h2{
    font-size: 2rem;
}